<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const ROOM_NAME = "<%= room_name %>"
    const USER_NAME = "<%= user_name %>"
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
  <!-- <link rel="stylesheet" href="style.css"> -->
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <title>Virtual Cafe</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
      padding: 10px;
      margin: 10px;
    }
    .vid{
      background:black;
      height: 100%;
      margin: 0;
    }
    .audio_node {
      width: 100%;
      height: 100%;
      border : 1px solid black;
    }
    .leave_meeting{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left:     0;
      right:    0;
      bottom:   0;
    }
  </style>
</head>
<body>
  <!-- <div class="vid"> -->
    <div id="video-grid">

    </div>
    <div class="leave_meeting">
      <button id="muteUnmute" style="color: red" onclick="muteUnmute()">Mute</button>
      &nbsp;
      <button style="color: red" onclick="leaveMeeting()">Leave Meeting</button>
    </div>
    <!-- <div onclick="muteUnmute()" class="leave_meeting">
      <span>Mute</span>
   </div> -->
  <!-- </div> -->
  <!-- <div class="main">
    <div class="main__left">
       <div class="main__videos">
          <div id="video-grid">
    
          </div>
       </div>
       <div class="main__controls">
          <div class="main__controls__block">
             <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                <i class="fas fa-microphone"></i>
                <span>Mute</span>
             </div>
             <div onclick="playStop()" class="main__controls__button main__video_button" >
                <i class="fas fa-video"></i>
                <span>Stop Video</span>
             </div>
          </div>
          <div class="main__controls__block">
             <div class="main__controls__button">
                <span class="leave_meeting" onclick="sample()">Leave Meeting</span>
             </div>
          </div>
       </div>
    </div>
 </div> -->
</body>
<script src="script.js" defer></script>
</html>